<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/theme.css">

  <script src="{{ site.baseurl }}/components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="{{ site.baseurl }}/components/polymer/polymer.html">
  <link rel="import" href="{{ site.baseurl }}/components/marked-element/marked-element.html">

  <link rel="import" href="https://home.cityzendata.net/quantum/warp10-components.html">

  <!-- Pygments Github CSS -->
  <link rel="stylesheet" href="{{ "/css" | prepend: site.baseurl }}/syntax.css">
</head>
