<nav class="navbar navbar-expand-lg  fixed-top navbar-static-top bg-white">
  <a class="navbar-brand mx-auto" href="/#">Warp<span><sup>10</sup></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="/#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/#benefits">Features</a></li>
      <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/getting-started">Quick start</a></li>
      <li class="nav-item"><a class="nav-link" href="/#doc">Reference</a></li>
      <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" id="search_box" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 fa fa-search" type="submit"></button>
    </form>
  </div>

</nav>
<div class="navbar-separator"></div>

<warp10-conf conf="doc"></warp10-conf>
