<a class="nav-link" data-toggle="collapse" href="#collapse-apis"><span class="fa fa-gear"></span> APIs</a>

<div id="collapse-apis" class="collapse {% if (page.category == 'apis')  %} show {% endif %}">
  <a class="nav-link" href="{{ site.baseurl }}/apis/">Overview</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/warpscript">WarpScript</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/fetch">Fetch</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/ingress">Ingress</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/delete">Delete</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/gts-input-format">GTS input format</a>
  <a class="nav-link" href="{{ site.baseurl }}/apis/gts-output-format">GTS output format</a>
</div>