<a class="nav-link" data-toggle="collapse" href="#collapse-home"><span class="fa fa-home"></span> Home</a>

<div id="collapse-home" class="collapse {% if (page.category == 'introduction')  %} show {% endif %}">
  <a class="nav-link" href="{{ site.baseurl }}/introduction/platform">Overview</a>
  <a class="nav-link" href="{{ site.baseurl }}/introduction/concepts">Concepts</a>
  <a class="nav-link" href="{{ site.baseurl }}/introduction/history">History</a>
  <a class="nav-link" href="{{ site.baseurl }}/introduction/team">Team</a>
  <a class="nav-link" href="{{ site.baseurl }}/introduction/versions">Versions</a>
</div>
