<link rel="import" href="./styles.html">
<link rel="import" href="polymer/polymer.html">
<dom-module id="warp10-footer">

  <template>
    <style include="style-module">

      .fab {
        position: relative;
        overflow: hidden;
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        border-radius: 50%;
        background-color: #039be5;
        vertical-align: middle;
        text-align: center;
        transition: 0.2s ease-out;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: #FFF;
        font-size: 2em;
        margin: 5px;
      }

      footer {
        padding: 0;
        width: 100%;
        float: left;
        color: #FFFFFF;
        background-color: #263238;
        height: auto;
        line-height: 90px;
        margin: 0;
        position: relative;
      }

      footer a, footer a:visited, footer a:active {
        color: #FFFFFF;
        text-decoration: underline;
      }

      footer a:hover {
        color: #039be5;
      }

      .fab a {
        text-decoration: none;
      }


      @media (max-width: 768px) {
        footer {
          line-height: 1rem;
          padding: 10px;
          text-align: center;
        }
      }

    </style>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-sm-12">
            <p><a href="/introduction/legal">Legal</a> <small>| Copyright &copy; 2018 Cityzen Data</small></p>
          </div>
          <div class="col-md-3 col-sm-12">
            <div class="d-inline-block text-center">
              <div class="fab shine d-inline-block">
                <a href="https://twitter.com/CityzenData" target="_blank">
                  <span class="fa fa-fw fa-twitter"></span>
                </a>
              </div>

              <div class="fab shine d-inline-block">
                <a href="https://github.com/cityzendata/" target="_blank">
                  <span class="fa fa-fw fa-github"></span>
                </a>
              </div>

              <div class="fab shine d-inline-block">
                <a href="mailto:contact@cityzendata.com" target="_blank" title="contact@cityzendata.com">
                  <span class="fa fa-fw fa-envelope"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </template>
  <script>
    class Warp10Footer extends Polymer.Element {
      static get is() {
        return 'warp10-footer'
      }

      static get properties() {

      }

    }

    customElements.define(Warp10Footer.is, Warp10Footer);
  </script>
</dom-module>