<link rel="import" href="promise-polyfill/promise-polyfill-lite.html">
<link rel="import" href="./styles.html">
<link rel="import" href="polymer/polymer.html">
<link rel="import" href="marked-element/marked-element.html">
<link rel="import" href="app-route/app-route.html">
<link rel="import" href="iron-ajax/iron-ajax.html">
<link rel="import" href="app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="app-layout/app-drawer/app-drawer.html">
<link rel="import" href="app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="warp10-warpscript-widget.html">
<link rel="import" href="menu.html">
<script src="../js/prism.js"></script>
<dom-module id="warp10-layout">

  <template>
    <style include="style-module">
      :host {
        --app-drawer-width: 400px;
      }
      .main-container {
        margin-top: 100px;
        min-height: calc(100vh - 303px);
      }

      app-drawer {
        top: 0;
      }
      app-drawer-layout {
        position: relative;
      }

    </style>
    <app-route
      route="{{route}}"
      pattern="/:md"
      data="{{routeData}}"></app-route>


    <template is="dom-if" if="{{route.path}}" restamp>
      <div class="container-fluid main-container" id="main-container">
        <iron-ajax
          auto
          url="[[getFile(route.path)]]"
          handle-as="json"
          on-response="_handleResponse"
          last-response="{{ajaxResponse}}"
          debounce-duration="300"></iron-ajax>
        <app-drawer-layout fullbleed narrow="{{narrow}}">
          <!-- Drawer content -->
          <app-drawer id="menu" slot="drawer" swipe-open="[[narrow]]">
            <dom-if if="[[withMenu]]">
              <template>
                <app-toolbar>
                  <warp10-menu current-path="[[route.path]]"></warp10-menu>
                </app-toolbar>
              </template>
            </dom-if>
          </app-drawer>
          <div class="container">
            <button class="btn btn-outline-dark" type="button" on-click="_toggleMenu">
              <span class="navbar-toggler-icon fa fa-fw fa-bars"></span>
            </button>
            <h1>[[title]]</h1>
            <blockquote class="blockquote">[[desc]]</blockquote>
            <div id="content"></div>
          </div>
        </app-drawer-layout>
      </div>
    </template>
  </template>
  <script>
    class Warp10Layout extends Polymer.Element {
      static get is() {
        return 'warp10-layout'
      }

      static get properties() {
        return {
          withMenu: {
            type: Boolean,
            value: false,
          }
        }
      }

      _toggleMenu() {
        this.root.querySelector('#menu').open();
      }

      _handleResponse(event, ironRequest) {
        event.stopPropagation();
        this.root.querySelector('#content').innerHTML = ironRequest.response.content
          .replace(new RegExp('\{%[ ]+raw[ ]+%\}', 'g'), '')
          .replace(new RegExp('\{%[ ]+endraw[ ]+%\}', 'g'), '');
        this.title = ironRequest.response.title;
        this.desc = ironRequest.response.desc;
        this.root.querySelectorAll('code').forEach(function (element) {
          Prism.highlightElement(element, false);
        });
        this.root.querySelector('#content').querySelectorAll('a').forEach(function (element) {
          //    console.log('[warp10-layout] _handleResponse', element.getAttribute('href'));
          if (!!element.getAttribute('href')) {
            if (element.getAttribute('href').indexOf('http') === -1 && element.getAttribute('href').indexOf('mailto') === -1) {
              let pathUrl = element.getAttribute('href');
              if (pathUrl.indexOf('/') !== 0) {
                let spath = this.route.path.split('/');
                let newPath = '';
                spath.slice(1).forEach(function (p) {
                  newPath += '/' + p;
                });
                pathUrl = newPath + '/' + pathUrl
              }
              let path = ('#/doc/' + pathUrl).replace(new RegExp('//', 'g'), '/');
              element.setAttribute('href', path);
            } else {
              element.setAttribute('target', '_blank');
            }
          }
        }.bind(this));
        // this.root.querySelector('#panel').classList.add(this.withMenu ? 'col-sm-9' : 'col-sm-12');
      }

      getFile(path) {
        let spath = path.split('/');
        let md = 'raw';
        spath.slice(1).forEach(function (p) {
          md += '/' + p;
        });
        console.log('[warp10-layout] - getFile', md + '/raw.json');
        return md + '/raw.json'
      }

      _stringify(obj) {
        return JSON.stringify(obj);
      }
    }

    customElements.define(Warp10Layout.is, Warp10Layout);
  </script>
</dom-module>