<link rel="import" href="./styles.html">
<link rel="import" href="polymer/polymer.html">
<link rel="import" href="iron-collapse/iron-collapse.html">
<link rel="import" href="iron-ajax/iron-ajax.html">
<dom-module id="warp10-menu">

  <template>
    <style include="style-module">
      :host {
        display: block;
      }

      @media (min-width: 768px) {
        nav a {
          display: block !important;
        }
      }

      @media (min-width: 768px) {
        nav a {
          max-height: calc(100vh - 9rem);
          overflow-y: auto;
        }
      }

      .bd-sidebar {
        width: 100%;
        min-height: calc(100vh - 280px);
        overflow-y: auto;
        overflow-x: hidden;
        position: fixed;
        /* bottom: 230px; */
        top: 73px;
        margin: 0;
        height: calc(100% - 300px);
      }

      @media (min-width: 768px) {
        .bd-sidebar {
          border-right: 1px solid rgba(0, 0, 0, .1);
        }
      }

      @media (max-width: 768px) {
        .bd-sidebar {
          bottom: 0;
        }
      }

      nav ul, nav ul li {
        list-style-type: none;
        display: list-item;
      }

      nav, .nav {
        display: list-item;
        list-style-type: none;
        font-size: 1rem;
      }

      nav ul > li {
        padding-left: 1rem;
      }

      nav > ul > li {
        padding-left: 0;
      }

      a.header {
        color: #2e3133;
        font-weight: bold;
        padding-top: 1rem;
        margin-right: -15px;
      }

      a.menu-link {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: -15px;
      }

      a.nav-link.active {
        font-weight: bold;
      }

      a.nav-link.active:before {
        content: '> ';
      }
    </style>
    <iron-ajax
      auto
      url="/raw/menu.json"
      handle-as="json"
      on-response="_handleResponse"
      on-error="_handleError"
      last-response="{{ajaxResponse}}"
      debounce-duration="300"></iron-ajax>
    <nav id="menuContent" class="bd-sidebar"></nav>
  </template>
  <script>
    class Warp10Menu extends Polymer.Element {
      static get is() {
        return 'warp10-menu'
      }

      static get properties() {
        return {
          menu: {
            type: Object,
            value: function () {
              return {};
            },
          },
          toOpen: {
            type: Array,
            value: function () {
              return [];
            },
          },
          currentPath: {
            type: String,
            value: '',
            observer: '_onRouteChanged'
          }
        }
      }

      _toggle(evt) {
        this.shadowRoot.querySelector(evt.path[0].attributes['data-target'].value).toggle();
        if (evt.path[0].attributes['href'].value === '!#') {
          evt.preventDefault();
          return false;
        }
      }

      _onRouteChanged(route) {
        console.log('[warp10-menu] _onRouteChanged', route);
        this.root.querySelector('#menuContent').querySelectorAll('a').forEach(function (element) {
          if ('#/doc' + route === element.getAttribute('href')) {
            element.classList.add('active');
          } else {
            element.classList.remove('active');
          }
        }, this);
        this.updateStyles();
      }

      _buildMenu(menu) {
        let toOpen = [];
        let htmlMenu = '';
        Object.keys(menu).forEach(m => {
          htmlMenu += `<li>`;
          let selectClass = '';
          if (this.currentPath.match(new RegExp('/?' + m + '/?'))) {
            selectClass = 'active';
            toOpen.push(m);
          } else {
            selectClass = '';
          }
          if (menu[m].hasOwnProperty('children') && Object.keys(menu[m].children).length > 0) {
            htmlMenu += `<a data-target="#${m}" href="!#" class="nav-link header ${selectClass}">${menu[m].title}</a>
                        <iron-collapse id="${m}"><ul class="nav">${this._buildMenu(menu[m].children)}`;
          } else {
            htmlMenu += `<a data-target="#${m}" href="#/doc/${m}/" class="nav-link header ${selectClass}">
                          ${menu[m].title}</a><iron-collapse id="${m}"><ul class="nav">`;
          }

          if (menu[m].hasOwnProperty('links')) {
            menu[m]['links'].forEach(function (link) {
              if (this.currentPath.match(new RegExp('/?' + link.path + '/?'))) {
                selectClass = 'active'
              } else {
                selectClass = '';
              }
              htmlMenu += `<li><a href="#/doc/${link.path}" class="nav-link menu-link ${selectClass}">${link.title}</a></li>`;
            }, this);
          }
          htmlMenu += '</iron-collapse></li></ul>';
        }, this);
        this.toOpen = this.toOpen.concat(toOpen);
        return htmlMenu;
      }

      _capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
      }

      _addItemToMenu(item, data) {
        let arr = item.split('/');
        let next = this.menu;
        arr.forEach((p, i) => {
          if (!next.hasOwnProperty(p)) {
            next[p] = {title: this._capitalizeFirstLetter(p.replace(/_/gi, ' ')), children: {}, links: []};
          }
          if (i === arr.length - 1) {
            next[p].links = next[p].links.concat(data);
          }
          next = next[p].children;
        }, this);
      }

      _handleResponse(event, ironRequest) {
        event.stopPropagation();
        console.log('[warp10-menu] _handleResponse', ironRequest.response);
        this.menu = {};
        Object.keys(ironRequest.response).sort().forEach(item => {
          if (!item.match(/components.*/gi)) {
            this._addItemToMenu(item, ironRequest.response[item]);
          }
        }, this);
        console.log('[warp10-menu] _handleResponse', this.menu);

        this.root.querySelector('#menuContent').innerHTML = `<ul class="nav bd-sidenav">${this._buildMenu(this.menu)}</ul>`;
        this.root.querySelector('#menuContent').querySelectorAll('a').forEach(element => {
          if (!!element.getAttribute('data-target')) {
            element.addEventListener('click', this._toggle.bind(this));
          }
        }, this);
        this.toOpen.forEach(id => {
          this.root.querySelector('#menuContent').querySelector('#' + id).toggle();
        }, this);
      }

      _handleError(event, error) {
        if (error.request.xhr.responseText.match(/<pre>\s*(.*)\s*<\/prse>/)) {
          this.errorMsg = error.request.xhr.responseText.match(/<pre>\s*(.*)\s*<\/prse>/)[1];
        } else {
          this.errorMsg = error.request.statusText;
        }

        if (this.debug) {
          console.log('[warp10-menu] _handleError', {error: error, errorMsg: this.errorMsg});
        }

        this.elapsed = error.elapsed;
        this._hasAResponse = false;
        this._hasAnError = true;
      }
    }

    customElements.define(Warp10Menu.is, Warp10Menu);
  </script>
</dom-module>