<link rel="import" href="./styles.html">
<link rel="import" href="polymer/polymer.html">
<link rel="import" href="iron-collapse/iron-collapse.html">

<dom-module id="warp10-menu">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <style include="style-module">

    </style>
    <nav class="navbar navbar-light bg-light">
      <marked-element disable-remote-sanitization on-marked-render-complete="_renderComplete">
        <div slot="markdown-html" id="menu"></div>
        <script type="text/markdown" src="/menu.md"></script>
      </marked-element>
    </nav>

  </template>
  <script>
    class Warp10Menu extends Polymer.Element {
      static get is() {
        return 'warp10-menu'
      }

      static get properties() {

      }

      _renderComplete() {
        let root = this.root.querySelector('#menu');
        if (root.hasChildNodes()) {
          root.childNodes.forEach(n => {
            if ('UL' === n.nodeName) {
              n.classList.add('nav', 'nav-pills', 'flex-column');
            }
            this._parse(n, 0);
          }, this);
        }
      }

      _parse(root, i) {
        if (root.hasChildNodes()) {
          root.childNodes.forEach(n => {
         //   console.log('parse', n);
            switch (n.nodeName) {
              case 'UL':
                n.classList.add('nav', 'nav-pills', 'flex-column');
                break;
              case 'LI' :
                n.classList.add('nav-link', 'ml-3', 'my-1');
              /*  if (n.firstElementChild !== null && n.firstElementChild.nodeName === 'UL') {
                  n.setAttribute('data-toggle', 'collapse');
                  n.setAttribute('data-target', '#collapse_' + i);
                  n.firstElementChild.classList.add('collapse');
                  n.firstElementChild.id = 'collapse_' + i;
                }*/
                break;
              case 'A' :
            //    console.log('First after a', n.nextElementSibling);
                if (n.nextElementSibling !== null && n.nextElementSibling.nodeName === 'UL') {
                  n.setAttribute('on-click', 'toggle');
                  n.setAttribute('data-target', '#collapse_' + i);
                  n.nextElementSibling.classList.add('collapse');
                  n.nextElementSibling.id = 'collapse_' + i;
                }
                break;
            }
            i++;
            this._parse(n, i);
          }, this);
        }
      }

      toggle(e) {
        console.log('toggle', e);
      }
    }

    customElements.define(Warp10Menu.is, Warp10Menu);
  </script>
</dom-module>