<link rel="import" href="granite-bootstrap/granite-bootstrap.html">
<link rel="import" href="granite-font-awesome/elements/granite-font-awesome.html">
<dom-module id="style-module">
  <template>
    <style include="granite-bootstrap"></style>
    <style include="granite-font-awesome"></style>
    <style>

      p {
        font-size: 1.2rem;
      }

      h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
        text-indent: 0;
        margin-top: 1.5rem;
        color: #039be5;
      }

      h1 {
        font-size: 3rem;
      }

      h2 {
        font-size: 2rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      p {
        text-align: justify;
        text-indent: 10px;
        font-size: 1.2rem;
      }
      @font-face {
        font-family: 'FontAwesome';
        src: url('granite-font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
        src: url('granite-font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
             url('granite-font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
             url('granite-font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
             url('granite-font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
             url('granite-font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
        font-weight: normal;
        font-style: normal;
      }

      a, a:visited, a:active {
        color: #039be5;
      }

      a:hover {
        color: #039be5;
      }

      .blockquote {
        padding-left: 1rem;
        border-left: 3px solid #039be5;
        margin-left: 1rem;
      }

      .parallax-section {
        background-attachment: fixed !important;
      }

      .btn-capsul {
        border-radius: 30px;
      }

      .btn-aqua {
        background: #039be5;
        color: #fff;
      }

      .btn-aqua:hover {
        background: #01579b;
        color: #fff;
      }

      .btn-dark-blue {
        background: #0d47a1;
        color: #fff;
      }

      .btn-dark-blue:hover {
        background: #1976d2;
        color: #fff;
      }

      .btn-transparent-white {
        border: 2px solid #fff;
        color: #fff;
      }

      .btn-transparent-white:hover, .btn-transparent-white:focus {
        background: #fff;
        color: #1976d2
      }

      .relative-box {
        position: relative
      }

      section {
        float: left;
        width: 100%;
        padding: 80px 0;
      }

      .action-sec {
        width: 100%;
        float: left;
        background: #222
      }

      .action-box {
        float: left;
        width: 100%;
        text-align: center;
      }

      .action-box h2 {
        color: #fff;
        font-size: 20px;
      }

      .shine:after {
        content: "";
        position: absolute;
        top: -110%;
        left: -210%;
        width: 200%;
        height: 200%;
        opacity: 0;
        transform: rotate(30deg);
        overflow: hidden;
        background: rgba(255, 255, 255, 0.13);
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0.13) 0%,
          rgba(255, 255, 255, 0.13) 77%,
          rgba(255, 255, 255, 0.5) 92%,
          rgba(255, 255, 255, 0.0) 100%
        );
      }

      .shine:hover:after {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
      }

      .shine:active:after {
        opacity: 0;
      }
      /* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+http+java+json+python&plugins=line-numbers */
      /**
       * okaidia theme for JavaScript, CSS and HTML
       * Loosely based on Monokai textmate theme by http://www.monokai.nl/
       * @author ocodia
       */

      code[class*="language-"],
      pre[class*="language-"] {
        color: #f8f8f2;
        background: none;
        text-shadow: 0 1px rgba(0, 0, 0, 0.3);
        font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
        text-align: left;
        white-space: pre;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        font-size: 1rem;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;

        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
      }

      /* Code blocks */
      pre[class*="language-"] {
        padding: 1em;
        margin: .5em 0;
        overflow: auto;
        border-radius: 0.3em;
      }

      :not(pre) > code[class*="language-"],
      pre[class*="language-"] {
        background: #272822;
      }
      /* Inline code */
      :not(pre) > code[class*="language-"] {
        padding: .3rem 0.5rem;
        border-radius: .1rem;
        white-space: normal;
      }

      :not(pre) > code {
        background-color: #eee !important;
        text-shadow: none !important;
        border-radius: 0;
        white-space: normal;
        color: #039be5 !important;
        padding: 0.2rem !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }

      .token.comment,
      .token.prolog,
      .token.doctype,
      .token.cdata {
        color: slategray;
      }

      .token.punctuation {
        color: #f8f8f2;
      }

      .namespace {
        opacity: .7;
      }

      .token.property,
      .token.tag,
      .token.constant,
      .token.symbol,
      .token.deleted {
        color: #f92672;
      }

      .token.boolean,
      .token.number {
        color: #ae81ff;
      }

      .token.selector,
      .token.attr-name,
      .token.string,
      .token.char,
      .token.builtin,
      .token.inserted {
        color: #a6e22e;
      }

      .token.operator,
      .token.entity,
      .token.url,
      .language-css .token.string,
      .style .token.string,
      .token.variable {
        color: #f8f8f2;
      }

      .token.atrule,
      .token.attr-value,
      .token.function {
        color: #e6db74;
      }

      .token.keyword {
        color: #66d9ef;
      }

      .token.regex,
      .token.important {
        color: #fd971f;
      }

      .token.important,
      .token.bold {
        font-weight: bold;
      }
      .token.italic {
        font-style: italic;
      }

      .token.entity {
        cursor: help;
      }

      pre.line-numbers {
        position: relative;
        padding-left: 3.8em;
        counter-reset: linenumber;
      }

      pre.line-numbers > code {
        position: relative;
        white-space: inherit;
      }

      .line-numbers .line-numbers-rows {
        position: absolute;
        pointer-events: none;
        top: 0;
        font-size: 100%;
        left: -3.8em;
        width: 3em; /* works for line-numbers below 1000 lines */
        letter-spacing: -1px;
        border-right: 1px solid #999;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

      }

      .line-numbers-rows > span {
        pointer-events: none;
        display: block;
        counter-increment: linenumber;
      }

      .line-numbers-rows > span:before {
        content: counter(linenumber);
        color: #999;
        display: block;
        padding-right: 0.8em;
        text-align: right;
      }

    </style>
  </template>
</dom-module>